@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Open+Sans:wght@300;400&family=Ubuntu:wght@300;400&display=swap');
@font-face {
    font-family: "ShinGo";
    src: url("shin-go-medium.otf");
}

.button {
    flex: 1;
    padding: 20px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    width: 30%;
}

.content {
    max-width: 750px;
    margin: auto;
    text-align: center;
}

a {
    display: inline-block;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    transform: scale(1.2); /* Scales the element to 120% on hover */
}


body {
    /* background-color: #D8C4B6; */
    background-color: #F5EFE7;
    /* background-color: #4F709C; */
    /* background-color: #213555; */
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-family: "Caprasimo", cursive;
}

h2 {
    font-size: 3rem;
    font-family: "Caprasimo", cursive;
}

li {
    font-family: 'Open Sans', sans-serif;
}

img {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.50);;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}